split_path: 'toy_kaggle_split_3sets.json' # None
split_set:
split_random_state: 121 # if split_path is None, split data following this random state
verbose: True
model_cfg:
  pretrained_llm: 'distilgpt2'
  pretrained_tokenizer: 'distilgpt2'
  token_max_length: 512
pretrain_cfg:
  epochs: 2
  batch_size: 32
  lr: 1.e-4
  optimizers: 'adam'
  checkpoint_n_epoch: 20 # checkpoint every n epochs
finetune_cfg:
  epochs: 2
  batch_size: 32
  lr: 1.e-4
  optimizers: 'adam'
  early_stopping: True
fromscratch_cfg:
  epochs: 2
  batch_size: 32
  lr: 1.e-4
  optimizers: 'adam'
  early_stopping: True